@model Receipe
@{
  ViewBag.Title = "Receipes | Cooky";
}

  <section class="view-receipe">
    <div class="content-wrap">
      
      <h1>@Model.Name</h1>

      <h3>Category</h3>
      <p>@Model.Category</p>

      <h4>Time (min)</h4>
      <p>@Model.Time</p>

      <h4>Details</h4>
      <p>@Model.Detail</p>

    </div>

    <div class="m-2 text-center">
    <form asp-controller="Admin" asp-action="Delete" method="post">

      <input type="hidden" name="receipeID" value="@Model.ReceipeId" />

      <a class="btn btn-primary" asp-action="Edit" asp-controller="Admin" asp-route-receipeID="@Model.ReceipeId">Update</a>

      <button class="btn btn-secondary btn-warning" type="submit">Delete</button>
    </form>
    </div>
  </section>